.app-table {
  width: 100%;
  
  .ant-table {
    .ant-table-thead > tr > th {
      background-color: #fafafa;
      font-weight: 600;
    }
    
    .ant-table-tbody > tr:hover > td {
      background-color: #f5f5f5;
    }
    
    .ant-table-tbody > tr.ant-table-row-selected > td {
      background-color: #e6f7ff;
    }
  }
  
  // Estilização da paginação
  .ant-pagination {
    margin-top: 16px;
    text-align: right;
  }
  
  // Estilização do loading
  .ant-spin-nested-loading {
    min-height: 200px;
  }
}

